<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jerry.jtakeaway">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".application.JApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,UnusedAttribute"
        tools:replace="android:allowBackup,android:icon">
        <activity android:name=".ui.user.activity.ConponGetActivity" />
        <activity android:name=".ui.user.activity.PayActivity" />
        <activity android:name=".ui.generalActivity.AddressManagerActivity" />
        <activity android:name=".ui.generalActivity.EditAddressActivity" />
        <activity android:name=".ui.generalActivity.AddressActivity" />
        <activity android:name=".ui.user.activity.MenuActivity" />
        <activity
            android:name=".ui.user.activity.HomeActivity"
            android:label="home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- flutteractivity -->
        <!-- <activity -->
        <!-- android:name="io.flutter.embedding.android.FlutterActivity" -->
        <!-- android:theme="@style/TransTheme" -->
        <!-- android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
            android:name=".ui.generalActivity.LoginActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".ui.generalActivity.WebActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.generalActivity.WelcomeActivity"></activity>
    </application>

</manifest>